* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

:root {
  --index: calc(1vw + 1vh);
}

@font-face {
  font-family: Manrope;
  src: url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
}

body {
  background-color:  #F5F5F4;
  margin: 40px;
  border-radius: 20px;
}

.header {
  background-color: white;
  width: calc(var(--index) * 24.974);
  height: calc(var(--index) * 3.129);
  border-radius: 20px;
}

.header__content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #94C017;
  font-family: 'Manrope', sans-serif;
  font-size: calc(var(--index) / 1.6);  
  gap: 19px;  
  padding: calc(var(--index) * 1.05);}

.home__button {
  cursor: pointer;
  text-decoration: none;
  color: #94C017;
}

.home__button:hover {
  text-decoration: underline;
}

.arrow__icon {
  color: #787878;  
  font-size: calc(var(--index) / 1.6);  
}

.portfolio__button {
  cursor: pointer;
  text-decoration: none;
  color: #94C017;
}

.portfolio__button:hover {
  text-decoration: underline;
}

.name__current-slide {
  color: #A0A0A0;
}

.mainTitle {
  margin-block: calc(var(--index) * 2.174);
}

h1 {
  font-family: 'PT Sans Caption';
  font-weight: 400;
  font-size: calc(var(--index) * 3);  
  line-height: 74px;
  margin-bottom: calc(var(--index) * 2.174);
}

.subTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subTitle__text {
  width: 420px;
  height: 48px;
  color: #787878;
}

.button__gallery {
  display: flex;
  margin: 0;
}

.left_btn {
  margin-right: 19px;
}

.left_btn,
.right_btn {
  width: 49px;
  height: 48px;
  background-color: white;
  border-radius: 100px;
  text-align: center;
  font-size: 23px;
  font-weight: 700;
  cursor: pointer;
  padding: 0;
  border: none;
}

.left_btn:hover,
.right_btn:hover {
  background-color: #181818;
  color: white;
}

.left_btn:active,
.right_btn:active {
  background-color: #A0A0A0;
  color: #181818;
}

.wrapper .gallery {
  white-space: nowrap;
  overflow: hidden;

}

.gallery {
  display: -webkit-box;
}

.photo__gallery {
  width: 322px;
  height: 222.31px;
  margin-right: 15px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 500ms ease-in-out;
}

.photo__gallery.active {
  width: 479px;
  height: 330px;
}

.application {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  line-height: 24px;
  position: relative;
  top: calc(var(--index) * -2.6);
}

.application__text {
  text-align: right;
  color: #787878;
  font-family: 'Manrope', sans-serif;
 
}

.btn__application {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
  background: #9CC91C;
  border-radius: 15px;
  border: none;
  width: 192px;
  height: 59px;
  margin: 0 40px;
}

.btn__application:active  {
  background: white;
}

.btn__application p:active {
  color: #94C017;
}

.btn__application--text {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
}

.btn__application--arrow {
  border: 4px solid transparent;
  border-left: 6px solid white;
}

@media screen and (max-width: 1250px) {

  .application__text {
    display: none;
  }

  .btn__application {
    margin-top: 50px;
  }
  
}


